<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--<logger name="org.springframework.integration">-->
        <!--<level value="INFO"/>-->
    <!--</logger>-->

    <!--<logger name="org.springframework">-->
        <!--<level value="INFO"/>-->
    <!--</logger>-->
    <!--<logger name="org.atmosphere.cpr">-->
        <!--<level value="DEBUG"/>-->
    <!--</logger>-->

    <!--<logger name="org.hibernate.type" level="ALL" />-->
    <!--<logger name="org.hibernate" level="DEBUG" />-->

    <logger name="org.hibernate">
        <level value="WARN"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
