.twitter-color {
  color: #55acee;
}

.vine-color {
  color: #00b488;
}

.instagram-color {
  color: #3f729b;
}

hr.divider {
  margin: 5px 0;
}

.no-items-available-small, .no-items-available {
  font-size: 1.5em;
  color: gray;
  text-align: center;
}

.no-items-available {
  padding: 25px 0;
}

.display-block {
  display: block;
}

.responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-x: auto;
  overflow-y: hidden;
}

.nowrap {
  white-space: nowrap;
}

.no-border-radius {
  border-radius: 0;
}

.zero-padding {
  padding: 0;
}

.valign-top {
  vertical-align: top;
}

.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
}

.btn-hover-alt {
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
}

.table-menu {
  a {
    display: block;
    text-decoration: none;
  }
}

a.block {
  display: block;
  text-decoration: none;
}

.google-map-frame {
  border: none;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#fixedSidebar {
  overflow-y: auto;
}