hr.divider {
  margin: 5px 0;
}

.no-items-available-small, .no-items-available {
  font-size: 1.5em;
  color: gray;
  text-align: center;
}

.no-items-available {
  padding: 25px 0;
}

.responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-x: auto;
  overflow-y: hidden;
}

.nowrap {
  white-space: nowrap;
}

.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
}

.btn-hover-alt {
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
}