a.gallery-thumbnail {
  margin: 5px;
  display: inline-block;
  position: relative;
}

.play-button {
  position: absolute;
  line-height: 250px;
  text-align: center;
  min-width: 100%;
  font-size: 4em;
  color: white;
  cursor: pointer;
}

#galleryPopupContent {
  padding: 0;

  .gallery-content {
    text-align: center;
    background-color: #000000;
    min-height: 400px;
    display: table;

    & > div {
      display: table-cell;
      vertical-align: middle;
    }

    @media screen and (max-width: 400px) {
      width: 300px;
    }
  }

  video {
    padding: 5px 0 0;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }
}

.gallery-detail-author {
  vertical-align: top;
  padding-left: 7px;
}

.gallery-filter {
  select {
    max-width: 250px;
  }
}