#insight {
  .navbar {
    border-radius: 0;
    top: -10px;
    border-top: none;
    border-right: none;
    border-left: none;
    min-height: 34px;
    z-index: 1;

  }

  .navbar-default {
    background-color: transparent;

  }

  .navbar-nav {
    & > li > a {
      padding-bottom: 7px;
      padding-top: 7px;
    }
  }
}