.problem-table {
  &>tbody>tr>td {
    border-top-width: 0;

    &.problem-bar {
      padding-top: 0;
    }
  }
  .progress {
    margin-bottom: 0;
  }
  .inner-table {
    background-color: transparent;
    font-size: 0.9em;
    margin-bottom: 0;
  }
}