#scorebar {
  .teamInfoHidden {
    display: none;
  }

  .teamInfoVisible {
    display: block;
  }

  .passed {
    stroke: none;
    fill: green;
  }

  .neutral {
    fill: gainsboro;
  }

  .barhover {
    fill: blue;
  }

  .failed {
    stroke: none;
    fill: red;
  }

  .workon {
    fill: lavender;
    stroke: none;
  }

  .tick-label {
    font-size: 10px;
  }

  .bar-title-Visible {
    display: block;
  }

  .bar-title-Hidden {
    display: none;
  }

  img.empty-well {
    background: white;
  }

  .map-rank-text {
    font-size: 16px;
  }

  #teaminfo-graph {
    float: left;
    z-index: 10;
    position: relative;
  }

  .teamInfoVisible, .teamInfoHidden {
    min-height: 90px;
  }
}

#scorebar-popup {
  width: 350px;
  position: absolute;
  z-index: 500;
  text-align: left;
}
