#timeline-notification {
  display: block;
  position: fixed;
  top: 50px;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  z-index: 999;
  color: #8a6d3b;
  font-weight: bold;
}

.mobile #timeline-notification {
  top: 78px;
}
.timelineTile {
  padding: 9px 12px;
  border-bottom: 1px solid #e1e8ed;

  .media-heading a {
    color: black;
  }

  .media-body {
    padding-left: 10px;

    img {
      margin-bottom: 10px;
    }
  }

  .footer {
    font-size: 0.9em;
    color: gray;

    a {
      cursor: pointer;
    }
  }

  .media-body {
    width: inherit;
    display: block;
  }
}

#timeline {
  .timeline-loading {
    text-align: center;
    font-size: 1.2em;
    margin: 10px 0;
  }

  .timeline-submenu {
    font-size: 0.9em;

    hr {
      margin: 5px 0;
    }
  }
}

.timeline-mobile {
  background-color: #e9eaed;

  .timelineTile {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    margin: 7px 7px;
    border-radius: 5px;
  }
}

.timeline-carousel {
  .item div.content {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    overflow-y: auto;
    margin-bottom: 5px;
  }
}