@import 'scorebar';
@import 'worldMap';
@import 'insight';
@import 'teamDetail';

.no-underline {
  text-decoration: none;
  border-bottom: none;
}

th {
  vertical-align: top;
}

td.fit-content {
  width:1%;
  white-space:nowrap;
}

// AngularJS ngCloak feature
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.top-submenu {
  &.navbar {
    border-radius: 0;
    top: -10px;
    border-top: none;
    border-right: none;
    border-left: none;
    min-height: 40px;
    z-index: 1;

  }

  &.navbar-default {
    background-color: #ffffff;

    .navbar-nav {
      & > li > a {
        padding-bottom: 10px;
        padding-top: 10px;
        color: #337ab7;
        text-decoration: none;
      }

      &>.active>a, & a:focus, & a:hover {
        color: #fff;
        background-color: #337ab7;
      }

    }
  }

  .container-fluid {
    padding: 0;
  }

}
