#scorebar .teamInfoHidden {
  display: none; }
#scorebar .teamInfoVisible {
  display: block; }
#scorebar .passed {
  stroke: none;
  fill: green; }
#scorebar .neutral {
  fill: gainsboro; }
#scorebar .barhover {
  fill: blue; }
#scorebar .failed {
  stroke: none;
  fill: red; }
#scorebar .workon {
  fill: lavender;
  stroke: none; }
#scorebar .tick-label {
  font-size: 10px; }
#scorebar .bar-title-Visible {
  display: block; }
#scorebar .bar-title-Hidden {
  display: none; }
#scorebar img.empty-well {
  background: white; }
#scorebar .map-rank-text {
  font-size: 16px; }
#scorebar #teaminfo-graph {
  float: left;
  z-index: 10;
  position: relative; }
#scorebar .teamInfoVisible, #scorebar .teamInfoHidden {
  min-height: 90px; }
#scorebar #map-team-info div {
  min-width: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border: solid 2px black; }
  #scorebar #map-team-info div h5 {
    background-color: rgba(100, 100, 100, 0.8);
    color: white;
    padding: 3px; }
#scorebar #map-team-info .teamInfoVisible {
  position: absolute;
  border: black solid 1px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  min-width: 250px; }

.map-nav {
  min-height: 40px;
  z-index: 10;
  overflow-x: hidden; }
  .map-nav > ul > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .map-nav > ul > li.dropdown > a {
    padding-left: 30px;
    padding-top: 0;
    padding-bottom: 0; }
  .map-nav .close {
    position: absolute;
    right: 0;
    padding: 9px 20px;
    z-index: 9999; }

.map-navigation {
  position: absolute;
  display: block; }

#worldMap h3 {
  text-underline: none; }

#mapContainer path {
  fill: #aaa;
  stroke: #fff; }
#mapContainer circle {
  fill: darkturquoise;
  stroke: white; }
#mapContainer .highligtedComponent {
  fill: #505050; }

.popover {
  min-width: 250px; }

.popoverCell {
  text-align: center;
  min-width: 50px; }
  .popoverCell .label {
    width: 100%;
    display: block; }

#popoverContainer .popover {
  max-width: none;
  background-color: rgba(255, 255, 255, 0.7); }
  #popoverContainer .popover .popover-title {
    overflow-x: hidden;
    background-color: rgba(247, 247, 247, 0.7); }

#mapSubmenu h3 {
  border-bottom: 0px #000000 solid; }

#mapPopoverPanel {
  width: 350px;
  position: absolute;
  z-index: 500;
  text-align: left; }
  #mapPopoverPanel td {
    padding: 2px; }
  #mapPopoverPanel.panel {
    max-width: none;
    background-color: rgba(255, 255, 255, 0.7); }
    #mapPopoverPanel.panel .panel-heading {
      overflow-x: hidden;
      background-color: rgba(247, 247, 247, 0.7); }

@media (max-width: 400px) {
  #mapPopoverPanel {
    width: 250px; } }
.map-mobile-control {
  position: absolute;
  left: 10px;
  z-index: 10; }
  .map-mobile-control > a, .map-mobile-control .map-mobile-control button {
    color: #0066FF !important;
    font-size: 1.1em; }

.no-underline {
  text-decoration: none;
  border-bottom: none; }

td.fit-content {
  width: 1%;
  white-space: nowrap; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.team-timeline td.time-cell {
  border-right: 2px solid #ddd; }
.team-timeline > tbody > tr > td {
  border-top: 0px #000000 solid; }

/*# sourceMappingURL=style.css.map */
